.FourdContent{
    display: flex;
    width: 100vw;
    height: 560px;
    justify-content: space-around;
    align-items: center;
    gap: 120px;

}

.peoplesecond{
    width: 560px;
    height: 560px;

}


.Thirdp{

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(0, 37, 46, 1);
    text-wrap: wrap;
}

h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(0, 37, 46, 1);
    font-family: "Poppins", sans-serif;
    
}

.textc{
    width: 520px;
    height: 158px;
    display: flex;
    flex-direction: column;
    gap: 30px;
   
  
}