.btn{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: rgba(38, 46, 56, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(150, 159, 173, 1);
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(124, 135, 152, 1);
    color: white;
}

.activeBtn{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(252, 118, 20, 1);
    color: white;
    } 
